<div style="margin:2%;">
  <ul>
    <li>
      First Gynec facility with MRgFUS – Non – Surgical Management of Fibroids and Adenomyosis [DEC 2012]
    </li>
    <li>
      First Frozen Blastocyst Transfer Pregnancy [FEB 2004]
    </li>
    <li>
      First ART Center to be Certified with ISO 9001 : 2000 in India [OCT 2002]
    </li>
    <li>
      First oocyte donation pregnancy in Coimbatore [SEP 2002]
    </li>
    <li>
      First frozen embryo transfer pregnancy in South India [NOV 2001]
    </li>
    <li>
      First Center to offer total Infertility Management Solutions to Infertile Couples [JAN 2001]
    </li>
    <li>
      First Pregnancy with immotile sperm [MAY 2000]
    </li>
    <li>
      First Pregnancy with globozoospermia. [JAN 2000]
    </li>
    <li>
      First TESE/ICSI pregnancy in South India [MAY 1999]
    </li>
    <li>
      First Blastocyst culture pregnancy in India [MAY 1999]
    </li>
    <li>
      First IVF pregnancy in Coimbatore [SEP 1996]
    </li>
  </ul>
</div>