<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                AMC
            </h2>
            <p>We all know “prevention is better than cure”. A healthy woman nurtures a healthy family, which is why
                even the smallest of ailments to her affects the whole family. Women are increasingly prone to various
                health problems in the current age. Womens Center recognizes the importance and need for preventive
                health care.</p>
            <p>Womes Wellness Checks at our center are designed specifically with women of different ages and
                requirements in mind. These tests are recommended to be taken by every woman and adolescent, on a
                regular basis. Women who have a family or genetic history of health problems will have individualized
                care provided.</p>
            <p>Comprehensive advice will be provided by our expert team comprising of obstetrician, gynecologists,
                cardiologist, diabetologists, pulmonologists, physiotherapists and dieticians. Womens Center helps you
                address any early signs identified through the wellness checks, which includes cancer screening. If
                further investigations, referrals or follow-up are needed, appropriate course of action will be
                provided.</p>
            <p>Our dedicated team will welcome and guide you through the whole process. Please email or call us for any
                further queries.</p>
            <h3>Pre Wellness Check</h3>
            <p>Women choosing Pre-Conception, Executive, Executive +, Premier or Platinum packages should make an
                appointment from the 06th to the 12th day of your period or after bleeding has completely stopped. It is
                also advised you abstain from sexual intercourse for at least 2 days prior to the appointment date. This
                enables us to get a proper Pap smear sample and helps the Pathologist in reading the sample better with
                less chance of requiring a repeat test.</p>
            <p align="justify">Mammograms taken from the 6th to the 12th day of your cycle is less painful to perform
                for women in the above 45 years age group and still having periods. Breast tissue is less lumpy at that
                time giving a better result.</p>
            <p align="justify">The day before your appointment, have normal dinner before 8:00 PM and only water after
                that up to 11:00 PM. Do not eat or drink anything else till after the blood tests.</p>
            <h3 class="posttitle">Wellness Check</h3>
            <p align="justify">It will take 4-6 hours to undergo all the investigations and examination.</p>
            <p align="justify">When you arrive, you will be guided to the lab area first for all the fasting blood
                tests. Then you will be provided a light breakfast with a beverage at our health check lounge.</p>
            <p align="justify">After breakfast, you will be given a health questionnaire to fill in. Our co-ordinator
                will then guide you for the next course of action depending on the Wellness Plan of your choice.</p>
            <p align="justify">As part of the wellness checks, you will get to see one of our physiotherapists and a
                dietician who will advise you on your physical fitness and diet modulation or alternation as is
                required.</p>
            <h3 class="posttitle">Post Wellness Check</h3>
            <p align="justify">Blood test results will be available the same day and a written report on your general
                health will be given to you before you leave our hospital. Pap Smear however takes up to 7 days to be
                reported. This will be conveyed to you by telephone and will be ready to collect any time thereafter.
            </p>
            <p align="justify">If the Wellness check shows a need for further investigations, referrals or follow-up you
                will be referred to our team of specialists for further management / treatment.</p>
            <h2>Womens Wellness Check &#8211; Packages</h2>
            <h3>Pre-Marital</h3>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Grouping</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
            </ul>
            <h3>Pre-Conception</h3>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Pap Smear</li>
                <li>Grouping</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Pap smear</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
            </ul>

            <h3>Executive</h3>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Grouping</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Urine microscopy</li>
                <li>Pap smear</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
                <li>Ultrasound Breast</li>
            </ul>

            <h3>Executive +</h3>
            <p>Recommended age- upto 45</p>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Pap Smear</li>
                <li>Grouping</li>
                <li>Urine Microscopy</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
                <li>Ultrasound Breast</li>
                <li>Mammogram</li>
                <li>Bone Densitometry (Spine)</li>
            </ul>

            <h3>Premier</h3>
            <p>Recommended age- 45-65</p>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Pap Smear</li>
                <li>Grouping</li>
                <li>Urine Microscopy</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
                <li>Ultrasound Breast</li>
                <li>Mammogram</li>
                <li>Bone Densitometry (Spine)</li>
                <li>Cancer Marker &#8211; Ca125</li>
                <li>Electrocardiogram</li>
                <li>Exercise Stress Test</li>
            </ul>

            <h3>Mature</h3>
            <p>Recommended age &#8211; 65+</p>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Grouping</li>
                <li>Urine Microscopy</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
                <li>Ultrasound Breast</li>
                <li>Mammogram</li>
                <li>Bone Densitometry (Spine &amp; Hips)</li>
                <li>Cancer Marker &#8211; Ca125</li>
                <li>Electrocardiogram</li>
                <li>Exercise Stress Test</li>
            </ul>

            <h3>Platinum</h3>
            <p>Recommended age- All</p>
            <ul>
                <li>Medical history</li>
                <li>Physical examination</li>
                <li>Medical report</li>
                <li>Post Examination review by Doctor</li>
                <li>Clinical Measurements</li>
                <li>Blood CBC</li>
                <li>Urea</li>
                <li>Electrolyte</li>
                <li>Creatinine</li>
                <li>Liver Function Test</li>
                <li>Lipid Profile</li>
                <li>HbA1C</li>
                <li>Pap Smear</li>
                <li>Grouping</li>
                <li>Urine Microscopy</li>
                <li>Physiotherapy</li>
                <li>Diet Counseling</li>
                <li>Ultrasound Abdomen</li>
                <li>Ultrasound Pelvis</li>
                <li>Ultrasound Breast</li>
                <li>Mammogram</li>
                <li>Bone Densitometry (Whole Body)</li>
                <li>Cancer Marker &#8211; Ca125</li>
                <li>Electrocardiogram</li>
                <li>Exercise Stress Test</li>
            </ul>
        </article>
    </div>
</div>