<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Andrology Center
            </h2>
            <p>
                Andrology Center offers a wide range of diagnostic services for a comprehensive Male Reproductive
                workup. </p>
            <h3>Services</h3>
            <ul>
                <li>Blood Tests</li>
                <li>Semen Analysis</li>
                <li>Semen Culture</li>
                <li>Semen TBPCR</li>
                <li>Karyotyping</li>
                <li>Y – Chromosome Microdeletion</li>
                <li>Pre – Marital Health Screening</li>
            </ul>
        </article>
    </div>
</div>