<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Colposcopy
            </h2>
            <ul>
                <li>Colposcopy is a field microscope which offer good view of cervix, vagina, vulva and help us detect
                    abnormalities.</li>
                <li>Cervical cancer is the 2nd leading cause of death in India.</li>
                <li>Cervical cancer is preventable and if diagnosed in precancerous stage it is 100% treatable.</li>
                <li>We have skilled doctors trained in colposcopy from best centers in India and the UK.</li>
            </ul>
            <h3>Facilities at our center</h3> 
            <ul>
                <li>Video digital and optical colposcopes</li>
                <li>Papsmear</li>
                <li>Liquid based cytology for HPV HR DNA</li>
            </ul>
            <h3>Services</h3> 
            <ul>
                <li>LOOP Electrosurgical excision procedure(LEEP)</li>
                <li>Large loop excision of transformation zone(LLETZ)</li>
                <li>Cauterisation of lesions</li>
                <li>We do treat large ectropian by colposcopy directed electro cautery</li>
                <li>We provide vaccines for cervical cancer from the age group 9 to 45 years</li>
                <li>We also conduct awareness program for the public</li>
                <li>We conduct FOGSI certified basic and advanced colposcopy courses with hands on training</li>
                <li>Overall we do steps in preventing cervical cancer</li>
            </ul>
        </article>
    </div>
</div>