<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Colposcopy
            </h2>
            <p>Colposcopy is a procedure to closely examine your cervix, vagina and vulva for signs of disease.</p>

            <p>Duration – 3 days</p>

            <p>Feb – 3rd Week</p>
            <p>Apr – 3rd Week</p>


            <p>Jun – 4th Week</p>

            <p>Aug – 3rd Week</p>

            <p>Oct – 3rd Week</p>

            <p>Dec – 3rd Week</p>
        </article>
    </div>
</div>