<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Colposcopy
            </h2>
            <p>
                Duration : </p>
            <p>
                2 Days (Basic) </p>
            <p>
                3 Days(Advanced) </p>
            <p>
                2 Days (IUI & Stimulation protocol) </p>
            <p>

                Feb,Apr,Jun,Aug,Oct,Dec</p>
            <p>
                3rd Week </p>
        </article>
    </div>
</div>