<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Cosmetology
            </h2>
            <p>Available cosmetology treatments</p>
            <ul>
                <li>Liposuction</li>
                <li>Tummy Tuck-Abdominoplasty</li>
                <li>Incisional hernia repair</li>
                <li>Breast reduction / Augmentation</li>
                <li>Breast lump excision</li>
                <li>Male Breast Correction</li>
                <li>Scar revisions</li>
                <li>Nose, Lip, Ear correction</li>
                <li>Congenital anomaly correction</li>
                <li>Lymphedema</li>
                <li>Burns and post burn scar problems</li>
                <li>Vaginoplasty</li>
            </ul>

        </article>
    </div>
</div>