<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Dental care
            </h2>
            <p>Dental care is the maintenance of healthy teeth and may refer to: Oral hygiene, the practice of keeping
                the mouth and teeth clean in order to prevent <b>dental</b> disorders. </span>It is said that the mouth
                is the gateway to the body and hence good oral health forms the foundation for a healthy body. The
                dental clinic at Womens Center Hospital , was set up with this very principle in mind. It provides a
                comprehensive range of dental care and many other latest procedures. We have a wide range of patients
                from various places who come here for correction of their dental irregularities.</p>
            <p>At the department, utmost importance is given to hygiene. To this end, there is a constant advancement of
                services to ensure that the latest treatments in the department of dental care are available.</p>
            <p>At the department, we have vastly experienced dentists along with surgeons to make sure that our patients
                receive the least painful treatment and are determined to put the smile back on their face.</p>
            <h4>DENTAL SERVICES PROVIDED:</h4>
            <ul>
                <li>Scaling and Oral Prophylaxis</li>
                <li>Preventive Dentistry</li>
                <li>Restoration (Fillings)</li>
                <li>Orthodontic Treatment(Braces)</li>
                <li>Cosmetic Dentistry</li>
                <li>Root Canal Treatment</li>
                <li>Crowns and Bridges</li>
                <li>Implants</li>
                <li>Dentures</li>
                <li>Tooth Extraction</li>
                <li>Gum Surgeri</li>
            </ul>

        </article>
    </div>
</div>