<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Diet
            </h2>
    
            <p>Varam superspeciality Center hospital has a Consultant Dietician for diet counselling. We ensure that our patients have
                proper diet control, to help themselves and their treating doctors to achieve their desired outcomes.
            </p>
            <p>Diet plays an important role in controlling many conditions. Our department of dietetics and nutrition
                provides exemplary diet services and medical nutrition therapy for patients. The food allowed during the
                hospital stay is determined by the dietician in consultation with the treating doctor.It is advised that
                patients are not given other foods than what the dietician prescribes unless the doctor concerned or the
                dietician advises.</p>
            <p>The dietician counsels the patients and the bystander, the benefits of following a diet that would help
                raise the pleasures of a healthy living.<br />
            <h4>Services Include :</h4>
            <ul>

                <li>Inpatient Diet Management</li>
                <li>Outpatient counselling for nutrition &#8211; related health problems</li>
                <li>Weight management counselling</li>
                <li>Diet counselling for Pregnant women during all three trimesters</li>
                <li>Diet counselling for Gestational Diabetes</li>
                <li>Diet counselling for Lactating Mothers</li>
                <li>Diet Counselling for patients on Fertility treatment</li>
                <li>Diet Counselling for Diabetes Mellitus</li>
                <li> Diet Counselling for Polycystic Ovaries Syndrome ( PCOS )</li>
                <li>Counselling for Life Style modifications.</li>

            </ul>
            
        </article>
    </div>
</div>