<div class="row blog-body">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="blog-post-title">
        Abnormal uterine bleeding- DUB
      </h2>
      <p align="justify">
        Abnormal uterine bleeding is perhaps the commonest gynecological problem that women of reproductive and perimenopausal age phase. It is estimated that 20-30% of all women face this problem sometime during their lives. It is also estimated that 12% of all referrals to gynecologists and 60% of all hysterectomies that are carried out are for the management of AUB.
      </p>
      <p align="justify">
        In the past, diagnosing AUB was primarily on clinical examination and D&C procedures. D&C was considered to be the gold standard diagnostic procedure in the past. It is now proven that conventional D&C is an inadequate diagnostic and therapeutic tool. It has been shown to miss 62.5% of all major intra-uterine lesions. Emphasis is now placed on using multiple diagnostic tools such as pelvic ultrasound, sonohysterogram and office hysteroscopic procedures for more accurate and specific diagnosis.
      </p>
      <p align="justify">
        Hormone therapy or hysterectomies were the only modalities of treatment available in the past. However now women have wider variety of options prior to resorting to definitive surgery like hysterectomy. Non invasive management like LNG IUCD (Progesterone containing intrauterine system) has decreased blood loss up to 80%. Minimal access procedures such as thermal ballon ablation of endometrium (Thermochoice) also offer very effective simple cures avoiding the risk of surgery. Worldwide, hysterectomy still has a mortality rate of 1 in 1000, occasional risk of Major complication of 13% and morbidity rate of 24%.
      </p>
      <p align="justify">
        Women’s Center prides itself as one of the pioneers in minimally invasive procedures, having introduced them as early as 1990. It offers the entire range of operative Laparoscopic and Hysteroscopic procedures including laparoscope assisted vaginal hysterectomies and Laparoscopic hysterectomies.
      </p>
    </article>
  </div>
</div>