<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Endoscopy
            </h2>

            <p>
                Duration </p>
            <p>
                7 Days (Basic)</p>
            <p>
                14 Days(Advanced)</p>
            <p>
                Apr,Jun,Aug,Oct,Dec
            </p>
            <p>
                3rd Week
            </p>
        </article>
    </div>
</div>