<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Endogynecology
            </h2>
            <p style="text-align: justify;">The landscape of gynecological surgery has evolved rapidly in the past few
                years. New surgical and non-surgical options are emerging for a variety of gynecological conditions,
                with major emphasis on minimally invasive and non-invasive options. The Women center Minimally Invasive
                Surgery Unit is a center of excellence for advanced 2D/3D laparoscopic and hysteroscopic reproductive
                surgery in Coimbatore. We handle some of the most complicated and difficult cases with unparalleled
                success and high patient satisfaction with patients safety as a top priority.Our operating theatres are
                equipped with the latest state of the art equipment and technology. Our experienced , highly trained and
                skilled surgical team strive to bring you world class expertise and care, here in Coimbatore. We also
                provide training and education to the doctors wishing to enhance their skills in MIS</p>
            <h3>Scope of Services</h3>
            <p>
                We perform advanced laparoscopic and advanced hysteroscopic procedures that can manage a full range of
                gynecological conditions, both benign and malignant . We specialize in complex surgeries for deep
                infiltrating endometriosis and surgeries involving significant intra uterine pathologies such as large
                sub mucous fibroids, uterine
                anomalies and recurrent synaechiae (Asherman’s Syndrome). </p>
            <p>
                We strive to provide a safer and more effective alternative to traditional open surgery by performing
                the vast majority of our procedures via laparoscopy or hysteroscopy. We get referrals from other
                providers for
                complicated cases that would otherwise be performed via a large abdominal incision.</p>
            <h3>Range of Services</h3>
            <ul>
                <li>Tertiary level referral center: Intra and Inter hospital referrals</li>
                <li>24 hours Level 3 Laparoscopic Surgeon On-Call to provide for emergencies</li>
                <li>Diagnostic Laparoscopic &amp; Hysteroscopic Procedures for adolescent and adult gynecological
                    conditions</li>
            </ul>
            <h3>One &#8211; Stop MIS Center providing:</h3>
            <ul>
                <li>Counselling and support services for patients undergoing minimally invasive surgical procedures</li>
                <li>Endometriosis Clinic for Management of Severe Endometriosis</li>
                <li>Physiotherapy and diet counselling before and after surgery</li>
            </ul>
            <h3>Operative Laparoscopy</h3>
            <ul>
                <li>Laparoscopic Tubal Sterilisation</li>
                <li>Ectopic Pregnancy (Salpingectomy &amp; Salpingostomy)</li>
                <li>Sub fertility (Hydrosalpinx, Pelvic Adhesions)</li>
                <li>Ovarian Cysts (Cystectomy &amp; Oophrectomy)</li>
                <li>Ovarian Torsion</li>
                <li>Uterine Fibroids (Myomectomy)</li>
                <li>Endometriosis (Excisional Surgery &amp; Restoration of Pelvic Anatomy)</li>
                <li>Total Laparoscopic Hysterectomy</li>
                <li>Tubal Reanastomosis</li>
                <li>Pelvic Floor Repair and Incontinence Surgery</li>
                <li>Gynaecological Cancers</li>
            </ul>
            <h3>Diagnostic and Operative Hysteroscopy</h3>
            <ul>
                <li>Subfertility</li>
                <li>Uterine Anomolies</li>
                <li>Endometrial polyps</li>
                <li>Sub mucous fibroid</li>
                <li>Ashermanns Syndrome</li>
                <li>Displaced IUD</li>
                <li>Chronic Endometriosis</li>
            </ul>
            <h3>Laparoscopic General Surgeons Procedures</h3>
                <ul>
                    <li>Laparoscopic hernia repair</li>
                    <li>Laparoscopic Cholecystectomy</li>
                    <li>Laparoscopic Appendisectomy</li>
                </ul>

        </article>
    </div>
</div>