<div class="row blog-body">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="blog-post-title">
        Fertility Service
      </h2>
      <p>
        Womens Center Fertility Clinic is a sanctuary – a place where respect, confidentiality and medical excellence reside.
      </p>
      <h4>
        Womens Center Offers
      </h4>
      <ul>
        <li>
          Comprehensive infertility evaluation including SCSA
        </li>
        <li>
          Testicular sperm extraction(TESE)
        </li>
        <li>
          Intra- uterine insemination
        </li>
        <li>
          In-vitro Fertilisation(IVF)
        </li>
        <li>
          Intra cytoplasmic sperm injection(ICSI)
        </li>
        <li>
          Assisted hatching
        </li>
        <li>
          Sperm banking
        </li>
        <li>
          Embryo freezing and frozen embryo transfers
        </li>
        <li>
          Blastocyst culture and transfer
        </li>
        <li>
          Donor insemination
        </li>
        <li>
          Egg donation
        </li>
        <li>
          Embryo donation
        </li>
        <li>
          Surogacy
        </li>
      </ul>
      <h3>We provide testing for Female Fertility problems:</h3>
      <ul>
          <li>Ovulatory</li>
<li>Polycystic ovaries</li>
<li>Endometriosis</li>
<li>Tubal blockage</li>
<li>Ovarian reserve</li>

      </ul>
      <h3>We also provide testing for Male Fertility problems:</h3>
      <p>
We provide various diagnostic modalities for male infertility such as indepth semen analysis,  scrotal ultra sound, diagnostic TESA,  TESE. We also provide the highly renound and patented test for testing DNA fragmentation in the sperm,  SCSA.</p>
    <h3>Highly qualified professionals</h3>
    <p>Our consultants are well experienced and dedicated to analyse the problems of individual case and spend enough time to explain the patients. We provide patient center approach involving the couples themselves in the whole process. We have a  psychotheraphy unit comprising of professionally trained and well experienced counsellors to help couples get through difficult phases in their lives or during treatment.

</p>
    </article>
  </div>
</div>