<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">Fertility Care</h2>
            <p>
                Womens Center’s fertility Center is one of the longest running in South India. It has one of the most
                extensive,
                dedicated infrastructures with latest equipment and a dedicated team of specialists to provide you with
                every
                available option. Its team of doctors and embryologists are fully equipped to conduct comprehensive
                diagnostics
                to pinpoint fertility problems and their root causes. With the problem accurately diagnosed, our doctors
                discuss
                with you the range of treatments options available and recommend the best course. Womens Center offers
                many
                different therapies and treatments, from simple to the most advanced like
            </p>
            <br>
            <ul>
                <li>Comprehensive Infertility Evaluation including SCSA</li>
                <li>Testicular Sperm Extraction (TESE)</li>
                <li>Infra – Uterine Insemination</li>
                <li>In – Vitro Fertilisation (IVF)</li>
                <li>Intra Cytoplasmic Sperm Injection (ICSI)</li>
                <li>Assisted Hatching</li>
                <li>Long term storage of oocyte, embryo and sperm</li>
                <li>Sperm Freezing</li>
                <li>Frozen embryo transfers</li>
                <li>Embryo and oocyte vitrification</li>
                <li>Blastocyst Culture &amp; Transfer</li>
                <li>Donor Insemination | Egg Donation</li>
                <li>Embryo Donation | Surogacy</li>
                <li>PGD / PGS processing</li>
                <li>Advanced sperm techniques</li>
                <li>State Of The Art Technologies</li>
                <li>ISO standard IVF laboratory</li>
                <li>Latest equipments for embryo monitoring &amp; growth</li>
                <li>Hi-tech air filtering unit in the IVF laboratory</li>
                <li>Reproductive Medicine Consultants</li>
                <li>Qualified and Certified in-house Embryologists</li>
                <li>Professionally trained counsellors</li>
                <li>Periodic upgradation of the system to international standards</li>
                <li>Quality control monitoring
            </ul>
        </article>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" width="200" height="250" src="./img/doc2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gynecology</h5>
                <p class="card-text text-muted">Dr.Bharti Singh -DGO</p>
                <a href="#" class="btn btn-primary btn-sm">REQUEST APPOINTMENT</a>
            </div>
        </div>
    </div>
</div>