<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Fitness <Center></Center>
            </h2>
            <h3>Services</h3>
            <ul>
                <li> Pain management with electrotherapy</li>
                <li> Weight reduction exercises</li>
                <li> Exercises for irregular periods</li>
                <li> Postnatal abdomen strengthening exercises</li>
                <li> Antenatal – Stretces, Strengthening, breathing and labour class reviews</li>
                <li> Annual medicalcheck up package exercises</li>
                <li> Weight reduction exercises &#8211; 1 day</li>
                <li> Weight reduction exercises &#8211; 1 week</li>
                <li> Antenatal classes conducted by Vriksham</li>
                <li> Post Natal exercises when patient is in labour ward</li>
                <li> Post operative exercises when patient is in OT or wards.</li>
            </ul>
            <h3>GYM:</h3>
            Fitness Center – Monthly / Quarterly / Half-yearly and Annual Packages available</p>
            <h3>Flooring exercises</h3>
            <ul>
                <li>Stretches for all group of muscles</li>
                <li>Strengthening for all group of muscles</li>
                <li>Swiss Ball exercises</li>
                <li>Stepper</li>
                <li>Cardio</li>
                <li>Weight Lifting exercises</li>
            </ul>
        </article>
    </div>
</div>