<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                MATERNAL FETAL MEDICINE - HIGH RISK PREGNANCY
            </h2>
            <p>The division of maternal fetal medicine is dedicated to provide comprehensive care throughout your
                pregnancy.</p>
            <p>Maternal and fetal medicine involves the prevention, diagnosis and treatment of those conditions
                responsible for the morbidity and mortality of the mother, fetus and the early new born. The rapidly
                expanding body of knowledge regarding maternal health and disease, the continuing introduction of new
                technological methods for maternal and fetal assessment and increasing societal demands and expectations
                for mother and child, continue to modify the nature of obstetrical care.</p>
            <p>The feto maternal and perinatal subspecialist is a specialist in obstetrics and gynaecology who has had
                extensive training in</p>
            <ul>
                <li>Detailed risk assessment before, during and after pregnancy</li>
                <li>Ante natal diagnosis of wide range of materno-fetal disorders, some of which may require invasive
                    procedures</li>
                <li>Management of high risk pregnancies during the antenatal, intrapartum and postpartum period</li>
            </ul>
            <h2>ULTRASOUND SCAN AT VARIOUS STAGES OF PREGNANCY:</h2>
            <h3>Viability scan:</h3>
            <ul>
                <li>This ultrasound scan is usually carried out at 6 – 10 weeks of pregnancy.</li>
                <li>The aims of this scan are to determine the number of embryos present and whether the pregnancy is
                    progressing normally inside the uterus.</li>
                <li>This scan is useful for women who are experiencing pain or bleeding in the pregnancy and those who
                    have had previous miscarriages or ectopic pregnancies</li>
            </ul>
            <h3>NT scan / 11- 14 weeks scan and Aneuploidy screening:</h3>
            <ul>
                <li>This scan is carried out between 11weeks to 13 weeks and 6 days. Our doctors are certified by The
                    Fetal Medicine Foundation (FMF),UK for performing scans to the highest standards and safety of the
                    mother and fetus.</li>
                <li>The aims of this scan include</li>
                <li> Assessment the nuchal translucency (NT) and other markers for aneuploidy and assess the risk for
                    <strong>Down syndrome &amp; other chromosomal abnormalities</strong>. This risk assessment is based
                    on the maternal age, NT measurement and levels of two hormones in the mother’s blood. The couple
                    will receive detailed counselling concerning the significance of these risks and various options for
                    further investigations including invasive testing or the non invasive prenatal testing (NIPT)
                </li>
                <li>To diagnose <strong>major fetal abnormalities</strong> – some major anomalies may be visible at this
                    gestation. However it will be still necessary to have a 20 week anomaly scan.</li>
                <li>We also offer <strong>screening for pre eclampsia</strong> based on the Fetal Medicine Foundation
                    (FMF) guidelines based on the uterine artery Doppler measurements, Mean arterial blood pressure and
                    hormone levels in mother’s blood.</li>
            </ul>
            <h3>Anomaly Scan / Target Scan / Tiffa Scan:</h3>
            <ul>
                <li>This is a detailed scan done at 18 – 22 weeks of pregnancy.</li>
                <li>During this scan we examine each part of the fetal body, determine the position of placenta, assess
                    the amount of amniotic fluid and measure fetal growth.</li>
                <li>If any abnormalities are detected the significance of the findings will be discussed and
                    multi-disciplinary counselling involving the family, obstetrician, maternal-fetal medicine
                    specialist, neonatologist, paediatric sub specialists, geneticist and nursing staff will be
                    provided.We would review the diagnosis, prognosis, plans and alternatives.</li>
            </ul>
            <h3>Growth Scan / Fetal Well Being Scan:</h3>
            <ul>
                <li>This scan is usually carried out in the third trimester of pregnancy.</li>
                <li>This scan aims to determine the growth and health of the fetus. Assessment of the estimated fetal
                    weight, fetal movements, placenta, amniotic fluid, blood flow to the fetus and placenta are done.
                </li>
            </ul>
            <h3>Fetal Echocardiography</h3>
            <ul>
                <li>This scan is a specialized ultrasound that provides a detailed view of your baby’s heart.</li>
                <li>This scan is especially recommended for people with family history of heart abnormalities or
                    increased nuchal translucency in NT scan, mothers with pre gestational diabetes mellitus and those
                    taking anti-epileptic drugs.</li>
            </ul>
            <h3>Screening for Preterm Labour:</h3>
            <ul>
                <li>This is a transvaginal scan to measure the length of the cervix.</li>
                <li>It is highly recommended in women at risk of preterm birth, multiple pregnancies, those with
                    previous preterm birth, abnormalities of the uterus or previous cervical surgery.</li>
            </ul>

            <h3>Doppler Scan:</h3>

            <ul>
                <li>In pregnancies complicated by fetal growth restriction (FGR/IUGR), we assess the blood flow in the
                    umbilical artery, middle cerebral artery, ductusvenosus and the cerebroplacental ratio (CPR)
                    serially and based on which the best time for delivery would be decided.</li>
            </ul>

            <h3>Advanced Imaging:</h3>

            <ul>
                <li>3 D and 4D ultrasound</li>
                <li>Fetal MRI</li>
                <li>Ultrasound is certainly the initial imaging modality to assess fetal wellbeing. There are certain
                    circumstances when the visualization of the fetus is not optimal. If findings in the fetal
                    ultrasound are suspicious or abnormal, MRI is a useful option for further evaluation of the fetus.
                    MRI may help in confirming the abnormality or may provide finer details about the fetal structural
                    abnormality especially fetal brain.</li>
            </ul>

            <h3>Invasive Proceduresfor Prenatal Diagnosis</h3>

            <h3>SPECIALITY CLINICS:</h3>
            <ol start="1">
                <li>
                    <h3>High Risk Pregnancy Unit:</h3>
                </li>
            </ol>



            <p class="tab">We are experienced in managing high risk pregnancies and taking specialized care of pregnant women with
                complex maternal-fetal condition. Some of those conditions which are evaluated and monitored in our
                center include</p>
            <ul class="tab">
                <li>Recurrent pregnancy loss</li>
                <li>Previous unexplained stillbirth or Intra uterine fetal demise (IUFD)</li>
                <li>Known genetic disorder in the family</li>
                <li>Pregnancy with suspected fetal infection (TORCH, Chicken pox, Syphilis)</li>
                <li>Pregnancy with Diabetes</li>
                <li>Pregnancy with chronic hypertension, preeclampsia</li>
                <li>Pregnancy with heart disease</li>
                <li>Pregnancy with autoimmune and connective tissue disorders</li>
                <li>Pregnancy with thrombophilia</li>
                <li>Pregnancy after transplant</li>
                <li>Pregnancy with suspected morbidly adherent placenta</li>
                <li>Molar pregnancies or pregnancy after gestational trophoblastic disease</li>
                <li>Management of pregnancies complicated by fetal growth restriction (FGR)</li>
            </ul>

            <ol start="2">
                <li>
                    <h3>11 – 14 weeks clinic:</h3>
                </li>
            </ol>

            <ul class="tab">
                <li>Scientific advances in the last 20 years have raised the hope that many pregnancy complications are
                    potentially detectable from atleast as early as the 12<sup>th</sup> week of gestation.</li>
                <li>Early identification of the high risk groups will define the best protocol for their followup and
                    developmental strategies for the prevention of disorders of pregnancy or their adverse consequences.
                </li>
            </ul>

            <ol start="3">
                <li>
                    <h3>Twins Clinic:</h3>
                </li>
            </ol>


            <ul class="tab">
                <li>Multiple pregnancies are known to be associated with increased pregnancy loss, preterm births, low
                    birth weight babies and maternal complications like preeclampsia and gestational diabetes. There is
                    enough evidence to support the need for a special clinic devoted to these mothers.</li>
                <li>We screen monochorionic twin pregnancies for complications like Twin to Twin Transfusion syndrome
                    (TTTS) and selective Fetal Growth Restriction (sFGR) and have successfully followed up patients
                    after interventions.</li>
            </ul>

            <ol start="4">
                <li>
                    <h3>Recurrent Pregnancy Loss:</h3>
                </li>
            </ol>


            <p class="tab">Recurrent pregnancy loss can cause significant psychological grief to the couple. We offer detailed
                evaluation of the associated factors, counselling and careful followup in their subsequent pregnancy.
            </p>

        </article>
        
    </div>
  <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" width="200" height="250" src="./img/doc2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gynecology</h5>
                <p class="card-text text-muted">Dr.Bharti Singh -DGO</p>
                <a href="#" class="btn btn-primary btn-sm">REQUEST APPOINTMENT</a>
            </div>
        </div>
    </div>
</div>