<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Hysteroscopy
            </h2>
            <p>Duration – 3 days</p>
            <p>Apr – 4th Week</p>
            <p>Jun – 4th Week</p>
            <p>Aug – 3rd Week</p>
            <p>Oct – 4th Week</p>
            <p>Dec – 3rd Week</p>
        </article>
    </div>
</div>