<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Infertility
            </h2>
            <p>
                Duration :</p>
            <p>
                7 Days (Basic) </p>
            <p>
                14 Days(Advanced) </p>
            <p>
                2 Days (IUI & Stimulation protocol)
            </p>
            <p>
                Jan,Mar,May,Jul,Sep,Nov
            </p>
            <p>
                3rd Week
            </p>
        </article>
    </div>
</div>