<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                International Patient’s
            </h2>
            	<ul>
<li>Presence in 3 cities -Coimbatore, Chennai ( formerly known as madras ) and Trichy</li>
<li>Easy global access by air to all our centers</li>
<li>Domestic travel networked by air,rail and road</li>
<li>More than 25 globally trained super specialty consultants functioning at international best practice standards</li>
<li>Most evidence based technology and practice ,audited internationally &amp; globally</li>
<li>Center of excellence for women and new born</li>
<li>Excellent hospitality with warm,friendly and ambient environment</li>
<li>Value added service starting from referrals,appointments,travel planning including visa services,airport transfers, accommodation ( hotels,serviced apartments,rooms etc),interpreter services and concierge service</li>
<li>Payment is accepted in foreign currencies like USD,GBP &amp; Euros. Valid traveller cheques and currencies in USD,GBP &amp; Euros are welcome</li>
<li>Liaison personnel present globally in North America,Europe,Middle-East,Africa,South East Asia and Australia</li>
<li>History of more than 25 years experience in servicing International Clients. Our client base includes North America, Europe, Africa, Middle East, Russia, South East Asia and Australia</li>
</ul>
        </article>
    </div>
</div>