<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
               IVF Technologists
            </h2>
        
            <p>
              Duration – 8 months </p>
            <p>
             Eligibility – Science Graduates </p>
            
        </article>
    </div>
</div>