<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Maternal Care
            </h2>
            <p>
                A complete range of Preventive and Curative with excellent Maternal and Newborn care.
            </p>
            <p>
                Caring for pregnant women through a normal pregnancy and childbirth is an area of priority for Womens
                Center (TM).
            </p>
            <p>
                Womens center is dedicated to serving families through excellence in individualized care.We believe the
                birth of your baby is one of the most important events in your lifetime. As each individual is unique,
                so is each pregnancy and birthing experience.
            </p>
            <h3>
                Your first visit
            </h3>
            <p>
                On your first visit to our center, we will
            </p>
            <ul>
                <li>
                    Take a detailed history- present and past
                </li>
                <li>
                    Do a thorough examination
                </li>
                <li>
                    Do lab investigations as required
                </li>
                <li>
                    Do an ultrasound examination depending on how far you are into the pregnancy
                </li>
                <li>
                    Discuss your pregnancy and its possible course.
                </li>
            </ul>
            <h3>
                How often will your antenatal visits be?
            </h3>
            <p>
                As each pregnancy is unique you will be called back for antenatal visits according to when your
                Obstretician thinks it is required. The recommended routine is as early as possible and then every 4 to
                6 weeks until 7 months of pregnancy, then every 2 weeks until 9 months, and then weekly until the baby
                arrives
            </p>
            <h3>
                What will be done during your subsequent visits?
            </h3>
            <ul>
                <li>
                    You will be examined by your obstetrician
                </li>
                <li>
                    Investigations will be done as required
                </li>
                <li>
                    Discuss about your pregnancy and its course
                </li>
            </ul>
            <h3>
                Assess your baby’s growth
            </h3>
            <p align="justify">An ultrasound scan has been proven to be an easy,painless and safe way of assessing your
                baby.It is routinely offered to all mothers at 3 months and at 5-6 months to make sure that the baby is
                structurally normal.</p>
            <p align="justify">In addition to the ultrasound ,other blood tests are now available which can increase the
                chance of detecting certain abnormalities in the baby.</p>
            <p align=":justify">At certain points during the pregnancy , you will be able to see the growth of your baby
                using 3D &amp; 4D ultra sound technologies. CD’s of then 3D image can be obtained on request at a
                nominal charge.</p>

            <h3>
                Value added services
            </h3>
            <ul>
                <li>Birthing Suites &#8211; private spacious birthing suites equipped with a Jacuzzi,music system and
                    personal nursing care are available.</li>
                <li>Have your family share the joy of labor with you &#8211; Mothers who desire to have their husbands
                    or other family members with them during labor can request for this service.</li>
                <li>“Getting ready for breast feeding” &#8211; These are free classes run by a lactation consultant.
                </li>
            </ul>
            <h3>
                Pregnancy Classes
            </h3>
            <p align="justify">Sign up for our pregnancy classes which will help you understand the changes that you may
                experience during pregnancy, deal with the various facets of pregnancy and to prepare you adequately for
                the arrival of your bundle of joy.</p>

            <h3>
                Diet and Nutrition
            </h3>
            <p align="justify">Our dietician will talk to you about the nutritional requirements during pregnancy, DO’s
                and DONT’s in the kind of food you consume and advise you on the right kind of diet for your pregnancy.
                Individualized counseling may be particularly helpful for mothers who are under weight or overweight,
                diabetic or hypertensive.</p>
            <p align="justify">The objective is to guide these women through their pregnancy with emphasis on preventive
                care. Good prenatal preparation and care results in an increased probability of normal deliveries and
                less problems for the mother and the newborn. Emphasis is placed on offering prenatal education and
                making the experience of childbirth less stressful and more enjoyable for the entire family. Individual
                care and attention is offered to healthy women to monitor and guide them. The program also helps mothers
                to get back into shape after delivery and cope up with motherhood better.</p>

        </article>
    </div>
</div>