<div class="row blog-body">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="blog-post-title">
        Menopause Clinic
      </h2>
      <p align="justify">
        Menopause is the time in a women’s life when her menstrual function ceases. This usually happens around age 45-55. However her hormonal functions start declining a good ten years before this event. These phases in her life are referred to as pre menopause and peri menopausal years. These declining hormonal levels bring about many changes to the body, mind and sense of well being. Several life style diseases such as hypertension, Diabetes, Obesity, metabolic syndrome, depression also tend to manifest on women of this age group.
      </p>
      <p align="justify">
        Indian women tend to suffer in silence rather than seek solutions for these problems. Women’s center has started the menopause clinic specially dedicated to addressing these specific issues. Complete screening, investigations and management options will be offered to these women. Emotional support and counseling will also play a key role in the management.
      </p>
      <h3>
        Symptoms
      </h3>
      <p>
        Most women approaching menopause will have hot flashes, a sudden feeling of warmth that spreads over the upper body, often with blushing and some sweating. The severity of hot flashes varies from mild in most women to severe in others.
      </p>
    </article>
  </div>
</div>