<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Sucess Story
            </h2>
            <p>
               A patient’s description of the Exblate procedure done at Womens Center in Coimbatore. Just over an hour, now 3 months after the procedure she is back to normal.
            </p>
            <p>
                She talks about her experience, the procedure time, the safety of the procedure, how quickly she got back to work, the side effects that she had, the success of the procedure for her and the advantages that she felt that she had with this procedure over an open or laparoscopic surgery.
            </p>
            <p>
                Now – No Blood, No Cuts, No Anesthesia, No Pain, No Hospitalization. Be free of the symptoms caused by your Fibroids and Adenomyosis in as little as 60 minutes.
            </p>
        </article>
    </div>
</div>