<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Meonatal Intensive Care
            </h2>
            <p>
                Duration – 1 year
            </p>
<p>
Eligibility – MS/MD/DNB (Paed)
</p>

        </article>
    </div>
</div>