<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">Newsletter</h2>
            <h4>2021</h4>
            <ul>
                <li>
                    <a href="./test.pdf" target="_blank">June 2021</a>
                </li>
                <li>
                    <a href="./test.pdf" target="_blank">May 2021</a>
                </li>
                <li>
                    <a href="./test.pdf" target="_blank">Apr 2021</a>
                </li>
                <li>
                    <a href="./test.pdf" target="_blank">Mar 2021</a>
                </li>
                <li>
                    <a href="./test.pdf" target="_blank">Feb 2021</a>
                </li>
                <li>
                    <a href="./test.pdf" target="_blank">Jan 2021</a>
                </li>
            </ul>
        </article>
    </div>
</div>