<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Oncology
            </h2>
            <p>Cancer of the breast and uterine cervix are the most common cancers in our country. Diligent screening
                can detect both these cancers at quite an early stage. Detecting such cancers early increases the chance
                of cure from this dreadful disease.</p>
            <p>Most Indian women present late with cancer. Some of the causes attributing to this are ignorance,
                hesitance, social embarrassment and reservations to reveal problems to male physicians.</p>
            <h3>Facilites:</h3>
            <ul>
                <li>The Department of Radiology is well equipped with a Digital Mammography Suite, a high frequency
                    Ultrasound and an Breast MRI under one roof.</li>
                <li>Image guided biopsies for breast lesions are done on a routine basis.</li>
                <li>Screening service for cervical cancers include Pap smear test, Liquid based Cervical Cytology, HPV
                    DNA assay, etc., are available.</li>
                <li>The entire team from clinicians to support staff consists of highly experienced women to care for
                    the needs of the patients and kin.</li>
                <li>It provides facility of Day-care and in patient basis chemotherapy administration under the guidance
                    of an experienced medical oncologist.</li>
            </ul>
            <h3>Services:</h3>
                The Department of Surgical Oncology at Womens Center focuses on treatment of the following cancers in
                women:</p>
            <ul>
                <li>Breast Cancer</li>
                <li>Cervix cancer</li>
                <li>Ovarian cancer</li>
                <li>Endometrial cancer</li>
                <li>Reconstruction services for breast cancer patients</li>
                <li>Vulval cancer.</li>
                <li>Endocrine cancers (Thyroid, parathyroid and adrenal)</li>
                <li>Skin cancer</li>
            </ul>
            <p>In additional specialized procedures for benign conditions of the breast performed at Womens Center are:
            </p>
            <ul>
                <li>Microdochectomy</li>
                <li>Duct excision.</li>
                <li>USG localization and image guided excision of lumps.</li>
                <li>Comprehensive management of fibroadenomas.</li>
            </ul>
        </article>
    </div>
</div>