<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Pediatric Department
            </h2>
            <ul>
                <li>Paediatric department has full time and part time consultants and registrars, trained in India and
                    abroad . We offer wide range of services from common illness to complex paediatric problems.</li>
                <li>We provide inpatient services for children in a family-friendly environment, with our team of
                    trained nurses. We also have facilities to observe unwell children in our assessment bay, till a
                    decision is made to admit or discharge with a written plan.</li>
                <li>Our paediatric team provides lactation support to all our postnatal mothers, motivate and educate
                    them on techniques of breast feeding and provide information to the family on appropriate diet,
                    adequate rest and psycological support for nursing mother. </li>
                <li>Any problems associated with breast feeding are identified and rectified as early as possible. Prior
                    to discharge, parents are taught to identify any common problems apart from demonstrating routine
                    care of newborn.</li>
                <li>We have outpatient clinics lead by paediatric consultants running almost through the day. Registrars
                    on duty see the patients at night. In our well baby clinics we do anthropometry, assess the
                    nutritional status, developmental milestones and provide immunization.</li>
                <li> Our weaning clinic educate the parents and family on the importance of adequate nutrition and
                    healthy start for the baby.</li>
                <li>In our general paediatric clinic, we see children with common problems to specialized conditions
                    like Asthma, Allergy, Epilepsy, Sickle cell disease, Gastro intestinal problems, etc.</li>
                <li> We have a visiting paediatric surgeon to attend to paediatric surgical cases. Our radiologist and
                    her team helps us with x-ray, ultrasound and MRI , if required.</li>
                <li>Children who are sick requiring intensive care are stabilized and transferred to Paediatric
                    Intensive Care.</li>
            </ul>
        </article>
    </div>
</div>