<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Physio Therapy
            </h2>
            <p>
                Physio therapy is a medically based profession specializing in pain relief. Physiotherapists (PTs) work
                with individuals to develop a treatment plan to decrease pain by identifying and addressing its
                causes.The obstetric physiotherapist aims to alleviate the physical and emotional stresses of pregnancy
                and labor. This is achieved by improving the mother’s physical fitness and her understanding of the
                changes taking place to her body during pregnancy. The physical changes to a women’s body as related to
                pregnancy are multiple. The center of mass changes, there is more pressure on the organs, and there is
                increased weight to be carried. All of this in a relatively short span of time often leads to back pain,
                pelvic pain and urinary incontinence. In fact, over two thirds of pregnant women experience back pain,
                one fifth experience pelvic pain.The obstetric physiotherapist is a skilled teacher of effective
                relaxation, breathing awareness and positioning and thus is able to prepare the woman and her companion
                for labor.
            </p>
            <p>
                Postnatally, the obstetric physiotherapist is able to help the mother in her recovery by teaching
                exercises, back care and general health education, including coping with the stresses of parenthood. She
                can assess and alleviate such problems as a painful perineum, backache and incontinence.
            </p>
            <p>
                In order to understand how to work with your body, through the various changes which occur during
                pregnancy, physiotherapy ultimately helps with the overall transitional period leading to a happier,
                healthy, problem free pregnancy and beyond.
            </p>
            <p>
                Role of a physiotherapist in Gynecology and Obstetrics</p>
            <ul>
                <li>Screen patients to ensure they could safely participate in an exercise program.</li>
                <li>Assess patients for posture, strength, flexibility, balance as well as any musculoskeletal issues
                    that could have a bearing on pregnancy.</li>
                <li>Instruct patients on how to perform exercises safely and effectively.</li>
                <li>Utilize an individualized approach – even in a group setting.</li>
                <li>Enable group discussion and education regarding pre and post natal issues.</li>
            </ul>
        </article>
    </div>
</div>