<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Pregenancy Care
            </h2>
            <p>
                Painless Labour, antenatal & Lactation classes. Dedicated Maternal fetal medicine unit for pregnancies
                with High Risk Pregnancies problems.3D/4D, Doppler, Ultrasonography fetal diagnostic procedure </p>
            <h3>
                Pregnancy Care
            </h3>

            <ul>
                <li>A complete range of Preventive and Curative with excellent Maternal and Newborn care.</li>
                <li>Caring for pregnant women through a normal pregnancy and childbirth is an area of priority for
                    Womens</li>
                <li>Center (TM).</li>
                <li>Womens center is dedicated to serving families through excellence in individualized care.We believe
                    the</li>
                <li>birth of your baby is one of the most important events in your lifetime. As each individual is
                    unique,</li>
                <li>so is each pregnancy and birthing experience.</li>
            </ul>
            <h3>
                Facilities
            </h3>
            <ul>
                <li> Birthing room facilities with an in-room mini jacuzzi</li>
                <li>Lamaze breathing and relaxation techniques to cope with labor.</li>
                <li>Complete pain relief modalities during labor from Entonox inhalation agents to epidural anesthesia.
                </li>
                <li>Yoga, meditation and Vedas in pregnancy.</li>
            </ul>
            <h3>
                Services
            </h3>
            <ul>
                <li>Routine prenatal care with emphasis on education and prevention.</li>
                <li>Fetal well being studies utilizing ultrasound, Doppler studies and electronic fetal monitoring to
                    make sure of the fetal well-being.</li>
                <li>Fetal growth studies- Intra uterine growth curves and monitoring to make sure that growth pattern of
                    the baby is normal and to rule out Intra Uterine Growth Retardation (IUGR).</li>
                <li>Prenatal education classes – Series of classes are offered to interested couples on nutrition,
                    exercises, warning signals and the dos and don’ts, in pregnancy, breast feeding issues, new born
                    care etc.</li>
                <li>Husbands in labor room if requested and when the situation permits.</li>
                <li>Personalized care by midwifery trained and experienced nurses.</li>
                <li>Round the clock availability of qualified and trained obstetricians, Pediatricians and anesthetists
                    in the hospital.</li>
                <li>All critical care facilities including blood banking available in the hospital at all times if the
                    need arises for such care.</li>
            </ul>
        </article>
    </div>
</div>