<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Prenatal Class
            </h2>

            <p> Caring for pregnant women through a normal pregnancy and childbirth is an area of priority for Womens
                Center (TM).</p>
            <ul>
                <li>Debunking Myths</li>
                <li>Handling Pregnancy discomforts</li>
                <li>Exercises</li>
                <li>Meditation</li>
                <li>Coping techniques for Labor (Breathing &amp; Relaxation techniques)</li>
                <li>Labor</li>
                <li>Prenatal Stimulation</li>
                <li>Age appropriate play</li>
                <li>Caring for your self – Post partum Care</li>
                <li>New Born Care</li>
                <li>Breast Feeding</li>
                <li>Session for Husband</li>
            </ul>
            <button class="btn btn-primary" >CALL FOR REGISTRATION</button>
        </article>
    </div>
</div>