<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Radiology Care
            </h2>
            <p>
                The imaging Department at Womens Center is equipped with following modalities for efficient imaging and
                descision making.
            </p>
            <h3>
                Facilities
            </h3>
            <ul>
                <li>
                    3D Uterus
                </li>
                <li>
                    Sonohysterogram
                </li>
                <li>
                    Color Doppler study
                </li>
                <li>
                    MRI 1.5 T
                </li>
                <li>
                    MrgFUS
                </li>
                <li>
                    Ultrasound Guided Aspiration, Biopsies of Breast
                </li>
                <li>
                    BMD
                </li>
                <li>
                    Mobile X-ray
                </li>
                <li>
                    Mammogram with ultrasound
                </li>
            </ul>
            <h3>Services</h3>
            <ul>
                <li> MRI 1.5T, focussed pelvic imaging gives excellent anatomy for fibroid mapping, assessment of
                    spectrum of pelvic endometriosis and uterine malformations.
                    GE- 1.5T MRI System is integrated with MrgFUS system to treat uterine fibroids and
                    adenomyosis.</li>
                <li>3D Sonohysterogram with color Doppler for delineation iof uterine intracavutary lesion,
                    LASMAR scoring of fibroids and uterine anomalies.</li>
                <li>BMD – Bone Mineral Densitometry for detecting osteopenia / osteoporosis.</li>
                <li>Mammogram for screening for Breast microcalcification and masses.</li>
            </ul>
        </article>
    </div>
</div>