<div class="row blog-body">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="blog-post-title">
        Surgeries
      </h2>
      <p>
        The latest equipment for the quickest recovery. One of the few centers routinely using 3D Laparoscopic and hysteroscopic  surgery for Gyneac procedures.
      </p>
      <h3>
        Benefits to patients
      </h3>
      <ul>
        <li>
          Safety
        </li>
        <li>
          Less complications
        </li>
        <li>
          Cost effectiveness
        </li>
        <li>
          One day hospital stay
        </li>
        <li>
          Less time for surgery
        </li>
      </ul>
      <h3>
        Operative Laparoscopy
      </h3>
      <ul>
        <li>
          Laparoscopic tubal sterilization
        </li>
        <li>
          Ectopic pregnancy
        </li>
        <li>
          Sub fertility
        </li>
        <li>
          Ovarian cysts
        </li>
        <li>
          Ovarian torsion
        </li>
        <li>
          Uterine fibroid
        </li>
        <li>
          Endometriosis
        </li>
        <li>
          Total laparoscopic hysterectomy
        </li>
        <li>
          Tubal reanastomosis
        </li>
        <li>
          Pelvic floor repair and incontinence surgery
        </li>
        <li>
          Gynecological cancers
        </li>
      </ul>
      <p>
        We also have world renounced laparoscopic general surgeons performing procedures such  as
      </p>
      <ul>
        <li>
          Laparoscopic hernia repair
        </li>
        <li>
          Laparoscopic cholecystectomy
        </li>
        <li>
          Laparoscopic appendectomy
        </li>
      </ul>
    </article>
  </div>
</div>