<div class="row blog-body">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Surgical Cosmetology
            </h2>
            <p>
                To look good… is to feel good….
            </p>
            <h3>Procedures</h3>
            <h4>Aesthetic Breast Surgery</h4>
            <ul>
                <li>Breast reduction</li>
                <li>Breast augmentation</li>
                <li>Breast lift</li>
                <li>Nipple size reduction</li>
                <li>Inverted nipple correction</li>
                <li>New nipple creation</li>
                <li>Axillary breast correction</li>
            </ul>
            <h4>Cosmetic Gyneacology</h4>
            <ul>
                <li>Labioplasty</li>
                <li>Vaginoplasty</li>
                <li>Hymenoplasty (Surgical Revirginisation)</li>
                <li>Public liposuction</li>
                <li>Mons lift</li>
                <li>Clitoral hood reduction</li>
                <li>Labial augmentation</li>
                <li>Vaginal tightening by surgery</li>
                <li>Vaginal tightening by fat injection</li>
            </ul>
        </article>
    </div>
</div>