<div class="row blog-body">
    <div class="col-md-12">
        <article class="blog-post">
            <h2 class="blog-post-title">
                Our Team
            </h2>

            <br>
            <h3>Management</h3>
            <br>
            <div class="row mb-2">
                {{>team_mem name="Dr. K.S. Govindarajan – MBBS" role="Managing Director" img="./img/man1.jpg"}}
                {{>team_mem name="Dr. Mirudhubashini Govindarajan – FRCS (C)" role="Clinical Director" img="./img/doc4.jpg"}}
                {{>team_mem name="Dr. Raghuram Govindarajan – MBBS." role="MBA – Director" img="./img/man2.jpg"}}
                {{>team_mem name="Mr. Jayaram Govindarajan – MBA" role="Executive Director" img="./img/man3.jpg"}}
            </div>
            <h3>Department of Obstetrics &amp; Gynecology</h3>
            <br>
            <div class="row mb-2">
                {{>team_mem name="Dr.Bharti Singh DGO" role="Consultant" img="./img/doc1.jpg" consult="true"}}
                {{>team_mem name="Dr.Nirmala MD., DGO" role="Consultant" img="./img/doc2.jpg" consult="true"}}
                {{>team_mem name="Dr. Vinothini MD(OG)" role="Consultant" img="./img/doc3.jpg" consult="true"}}
            </div>
    </article>
</div>
</div>
